:root{
      font-size: 10px;
}
.login{  
      background-color: black;
      width: 50rem;
      height: 35rem;
      color: white;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      border: 0.2rem solid red;
}
form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
input{
      margin: 0.8rem;
      border-radius: 25%;
      padding: 0.8rem;
      border: 0.1rempx solid red;
}
.redireccion1{
      font-size: 1.2rem;
      color: white;
      margin-top: 1rem;
}