.Home1{
   width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    background-color: #fff;
}
.Home_Form_Buscador{
   width: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   background-color: #0f3f54;
   padding-bottom: 8px;
}
.Buscador_Titulo{
  color: #ececec;
  font-size: 40px;
}
.Buscador_Input{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: #0f3f54;
   padding-bottom: 8px;
}
.Input_Ciudades{
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   margin: 10px 10px 10px;
   width: 20%;
   height: 100%;
   position: relative;
   top: 3px;
   padding-bottom: 10px;
 }
.Input_Fechas{
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   margin: 10px 10px 10px;
   width: 30%;
   height: 100%;
   position: relative;
   top: 3px;
   padding-bottom: 10px;
}
.selector{
  position: relative;
  bottom: 5px;
  width: 100%;
  height: 36px;
  background-color: #f6f4f2;
  color: #0f3f54;
  font-size: 15px;
  margin: 4px;
  border: 1px solid  white;
  box-shadow: 0 0 5px 1px grey;
  padding: 4px;
  border-radius: 8px;
}
.Selector_Titulo{
   
}
.Buscador_Label_Button{
  width: 15%;
  height: 100%;
  align-items: flex-end;
  margin: 9px;
  padding-bottom: 20px;
 
}
/*#F2DEBA*/
.HForm_Boton{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: #0f3f54;
  margin: 4px;
  border: 1px solid  white;
  box-shadow: 0 0 5px 1px grey;
  padding: 6px;
  border-radius: 8px;
  
}
strong{
  font-size: 25px;
  position: relative;
  color: #ececec;
  border-radius: 10%;
  padding: 2px 4px;
  flex-wrap: nowrap;
}
.boton{
  width: 90px;
  height: 40%;
  background-color: #DFAD8B;
  color: #171D46;
  font-size: 15px;
  border: 1px solid  rgb(245, 241, 241);
  box-shadow: 0 0 5px 1px grey;
  padding: 4px;
  position: relative;
  top: 50px;
  right: 10PX;
  cursor: pointer;
}
.Contendor_Categorias{
   width: 100%;
   height: auto;
   text-align: center;
   padding-bottom: 3px;
}

.Categorias_Titulo{
   margin-bottom: 5px;
}
.Contenedor_Categorias_Card{
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
}
.Categorias_Card{
   width: 23%;
   height: auto;
   background-color: aliceblue;
   margin: 3px 5px;
   padding: 10px 0;
   transition: 0.3s;
   cursor: pointer;
   box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}  
.Categorias_Card:focus{
   box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}
.Categorias_Card:hover{
   box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}

.Categorias_Card_Imagen{
   width: 92%;
   height: 70%;
}
.Categorias_Card_Titulo{
   width: 90%;
   font-size: 25px;
   color: black;
   text-align: start;
   position: relative;
   left: 10px;
}
.Categorias_Card_Cantidad{
   font-size: 16px;
   text-align: start;
   position: relative;
   left: 10px;
   bottom: 5px;
}
.Contenedor_Recomendados{
   width: 100%;
   height: 330px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Recomendados_Titulo{
   text-align: center;
}
.Recomendados_Cards{
   width: 80%;
   height: 100%;
   background-color: aliceblue;
   padding-bottom: 20px ;
   position: relative;
}
.Scroll_Left{
   width: 50px;
   height: 50px;
   position: absolute;
   left: -55px;
   top: 40%;
   background-color: rgb(160, 208, 250);
   border-radius: 50%;
   padding: 7px;
}
.Scroll_Right{
   width: 50px;
   height: 50px;
   position: absolute;
   right: -55px;
   top: 40%;
   background-color: rgb(160, 208, 250);
   border-radius: 50%;
   padding: 7px;
}
.Scroll{
   overflow: hidden;
   width: 96%;
   height: 100%;
}
.flex{
   width: 200%;
   height: 100%;
   display: flex;
}
.Scroll_Card{
   width: 100%;
   height: 230px;
   background-color: #f8e9d4;
   margin-top: 20px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   border: 1px solid maroon;
}
.Scroll_Img{
   width: 50%;
   height: 100%;
}
.Contenedor_Info{
   width: 50%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 2px 5px 0;
   
}
.Scroll_Titulo{
   margin: 2px 5px 0;
   color: rgb(12, 12, 35);
   font-size: 25px;
   font-weight: 500;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Info_Bot{
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}
.Info_Precio {
    text-align: center;
    margin-top: 17px;
    color: rgb(37, 37, 46);
    font-size: 23px;
    font-weight: 2;
}
.Info_Bot_Button{
   width: auto;
   height: 30px;
   background-color: #DFAD8B;
   padding: 5px;
   color: black;
   font-size: 23px;
   font-weight: 500;
   border: 2px solid #DFAD8B;
   display: flex;
   align-items: center; 
}
.Contenedor_Cards{
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media (max-width: 830px){
   .Buscador_Titulo{
      font-size: 30px;
   }
   .Selector_Titulo{
      font-size: 20px;
   }
   .Contenedor_Categorias_Card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
  }
   .Categorias_Card {
      width: 40%;
      height: auto;
      background-color: aliceblue;
      margin: 3px 5px;
      padding: 10px 0;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: 0 0 0 0 rgb(0 0 0 / 50%);
   }
   .Contenedor_Recomendados {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .Scroll{
      height: 100%;
   }
   .flex{
      width: 300%;
      height: 100%;
      display: flex;
   }
   .Scroll_Card{
      width: 31%;
      height: 90%;
      background-color: #f8e9d4;
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      border: 1px solid maroon;
   }
}
@media (max-width: 650px){
   .Buscador_Titulo{
      font-size: 23px;
   }
   .Selector_Titulo{
      font-size: 15px;
   }
   .Scroll_Left{
      left: -30px;
   }
   .Scroll_Right{
      right: -30px;
   }
   .Scroll_Card{
      height: auto;
      position: relative;
   }
   .Recomendados_Titulo{
      font-size: 30px;
   }
  
}
@media (max-width: 530px){
   .Info_Bot{
      flex-direction: column;
      align-items: center;
      height: 40%;
   }
   .Info_Link{
      width: 100%;
   }
   .Info_Bot_Button{
      width: 100%;
      display: flex;
      justify-content: center;
   }
}
@media (max-width: 504px){
   .Buscador_Titulo{
      font-size: 23px;
   }
   .Buscador_Input{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #0f3f54;
      padding-bottom: 8px;
      text-align: center;
   }
   .Selector_Titulo{
      font-size: 25px;
   }
   .Input_Ciudades{
      width: 90%;
   }
   .Input_Fechas{
      width: 90%;
   }
   .rs-picker-block {
      width: 100%;
   }
   .Buscador_Label_Button{
   width: 90%;
   height: 100%;
   padding-bottom: 20px;
  
   }
}
@media (max-width: 470px){
   .Contenedor_Categorias_Card{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .Categorias_Card{
      width: 80%;
   }
   .Categorias_Card_Imagen{
      width: 90%;
      height: 200px;
   }
   .Scroll_Card{
      height: 480px;
      flex-direction: column;
      margin-bottom: 10px;
   }
   .Scroll_Img{
      width: 100%;
      height: 50%;
   }
   .Contenedor_Info{
      width: 100%;
      height: 50%;
   }
   .Recomendados_Titulo{
      font-size: 20px;
   }
}
