*{
  margin: 0;
  padding: 0;
}
.Home{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFC;
 
  padding: 15px;
  position: relative;
}
.Home_From{
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: #0f3f54;

  padding-bottom: 8px;
  
}
label{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 10px 10px 10px;
  width: 180px;
  height: 60px;
  position: relative;
  top: 3px;
  padding-bottom: 10px;
}
strong{
  font-size: 25px;
  position: relative;
  color: #ececec;
  border-radius: 10%;
  padding: 2px 4px;
}
.selector{
  width: 100%;
  background-color: #F2DEBA;
  color: #0f3f54;
  font-size: 15px;
  margin: 4px;
  border: 1px solid  white;
  box-shadow: 0 0 5px 1px grey;
  padding: 4px;
}
.boton{
  width: 90px;
  height: 40%;
  background-color: #DFAD8B;
  color: #171D46;
  font-size: 15px;
  border: 1px solid  rgb(245, 241, 241);
  box-shadow: 0 0 5px 1px grey;
  padding: 4px;
  position: relative;
  top: 50px;
  right: 10PX;
  cursor: pointer;
}
.Form_Caregorias{
  width: 97%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px  0 ;
}
.Categorias_button{
  width: 15%;
  height: 100%;
  background-color: #DFAD8B;
  color: rgb(4, 4, 41);
  font-size: 20px;
  border: #FCFCFC;
  box-shadow: 0 0 5px 1px rgb(209, 206, 206);
  padding: 4px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
.Categoria_Texto{
  padding: 3px;
  font-size: 90%;
  font-weight: 700;
  transition: 2s;
}
.Categoria_Texto:hover{
  text-decoration:3px underline rgb(227, 224, 224);
  box-shadow: 0 0 3px 3px rgb(189, 189, 189);
}
.Imagen_Categoria{
  width: 20px;
  height: 20px;
}
.Cards{
    width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
    border-radius: 5px;
    background: rgba(246, 244, 244, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    
}
.card{
  width: 45%;
  background-color: #f8e9d4 ;
  padding: 7px 7px 9px 7px ;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  
}

.img_Card{
    width: 150px;
    height: 150px;
    margin: 5px 5px 0 0;
    border-radius: 10%;
    position: relative;
    left: 17px;
    display: block;
        
      
    
   
}

.Div_descripcio{
  width: 100%;
  text-align: center;
}
.descripcion_Card{
  text-align: center;
  margin-top: 15px;
  color: rgb(12, 12, 35);
  font-size: 30px;
  font-weight: 200;
  font-family: "Lato";
  
}
.button_Card{
  width: 35%;
  height: 50%;
  background-color: #DFAD8B;
  color: black;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 5px 1px grey;
  padding: 4px;
  cursor: pointer;
  font-size: 20px;
}
@media ( max-width: 900px ){
  
  .titulo_Card{
    font-size: 18px;
    color: #1f0c0c;
  }
  .img_Card{
    width: 100px;
    height: 100px;
  }
  .button_Card{
    margin-top: 10px;
    width: 130px;
  }
}
@media ( max-width: 780px )  {
 
  .Home_From{
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px ;
  }
  .boton{
    height: 34%;
    position: relative;
    top: 25px;
  }
  .selector{
    width: 70%;
  }
  .Form_Caregorias{
    width: 100%;
  }
  .Categorias_button{
    margin: 5px 0;
  }
  .Cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .card{
    width: 70%;
  }
  

  @media ( max-width: 620px ){
    .Home_From{
      width: 90%;
      flex-wrap: wrap;
    }
    .label{
      width: 40%;
    }
    .boton{
      top:0;
      right: 0 ;
      left: 0;
      margin-right: 50px;
    }
    .Form_Caregorias{
      width: 90%;
      height: auto;
      flex-wrap: wrap;
    }
    .Categorias_button{
      width: auto;
      height: 40px;
    }
    
  }
  @media ( max-width: 500px ){
    .Home_From{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .boton{
      margin: 5px 0;
    }
    .Form_Caregorias{
      width: 80%;
    }
    .Cards{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card{
      width: 90%;
    }
  }
}

