:root{
  font-size: 10px;
  width: 100%;
}
/* HEADER  */

header{
  height: max-content; 
  background-color: darkblue;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem; 
}
.Contenedor_Logo{
  display: flex;
  flex-direction: column;
}
.Logo_Imagen{
  width: 8.5rem;
  height: 6rem;
  border: .4rem solid yellow;
  padding: .2rem;
  border-radius: 60%;
}
.Logo_Nombre{
  display: flex;
  justify-content: center;
  margin: 0%;
  font-size: 2rem;
  color: yellow;
  background-color: darkblue;
}
.Contenedor_Router{
  width: 23rem;
  height: 6rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.Router_Botones{
  width: max-content;
  height: 50px;
  border-radius: 10%;
  color: chartreuse;
  background-color: rgb(30, 30, 136);
  border: 2px solid grey;
  font-size: 16px;
}


@media ( max-width: 500px )  {
  .Contenedor_Router{
    flex-direction: column;
    height: max-content;
    width: max-content;
  }
  .Router_Botones{
    margin-top: 2rem;
  }
}
/* HEADER  */
p{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  
}

body{
  background-color: gray;
}
.Dropdown1{
  background-color: gray !important;
  border-color: black !important;
  color: chartreuse !important;

}
.cosa{
  width: 200px;
  display: flex;
  justify-content: space-between;
}
main{
  display: flex;
  justify-content: center;
}
/* FOOTER */
footer{
  height: 5rem; /* 50px */
  background-color: darkblue;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icon1 > ion-icon{
  font-size: 3.5rem;
  padding: 0.7rem;
  color: white;
  position: absolute;
  right: 0.5rem;
}
.icon2 > ion-icon{
  font-size: 3.5rem;
  padding: 0.7rem;
  color: white;
  position: absolute;
  right: 5rem;
}
.contenedor1{
  display: flex;
}
.copyright{
  font-size: 2rem;
  color: white;
  display: flex;
  padding: 0.9rem;
}
/* FOOTER */